html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0; 
    padding: 0 10px; 
    font: 1em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: 100%; 
    position: relative;
    color: #fff;
}

body.air {
  cursor: default;
}

a {
  cursor: pointer;
}

pre,code {
  cursor: auto;
}

body {
  background: #2A3139 url(/assets/images/bg_home_tile_sml.jpg) repeat-x scroll 0 -40px;
}

code,pre {
  font-family: Monaco,"Courier New";
  font-size: 90%;
}

#body {
  position: relative;
  height: 100%; /* FIXME causing window to scroll */
  color: #000;
}

#browser {
  overflow-x: hidden;
  position: absolute;
  width: 300px;
  top: 0;
  right: 60em;
  left: 0;
  overflow-y: auto;
  background-color: #2A3139;
}

#detail {
    position: absolute;
    top: 0;
    right: 0px;
    left: 320px;
    overflow-y: auto;
    background-color: #fff;
    font-size: 90%;
}

#header {
    height: 140px;
    position: relative;
}

#detail, #browser {
    bottom: 160px;
}

#header img {
    top: 19px;
    position: absolute;
}

#search {
    position: absolute;
    width: 300px;
    display: block;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
}

.inner {
    padding: 20px;
}

#browser .inner {
  padding: 0;
}

/*dl, dt, dd {
  padding: 0;
  margin: 0;
}

dt {
  background-color: #2A3139;
  color: #eee;
  padding: 5px;
  cursor: pointer;
}
*/

#categories a:hover,
ul.subcategories li:hover {
  background-color: #67788B;
}

ul.subcategories li:hover {
  background-color: #67788B;
}

li.active {
  background: #0066A0 url(/assets/images/close-ui.png) no-repeat 97%;
}

.functions,
.subcategories {
  display: none;
}

.active > ul {
  display: block;
}

.subcategories .active {
/*  border: 2px solid #ccc;*/
  background: #0066A0;
}

li.active a:hover {
  background: #0066A0 url(/assets/images/close-ui.png) no-repeat 97%;
}

li.active li a:hover {
  background: #0066A0;
}

/*#functions dt.active {
  background: #0066A0 url(/assets/images/open-ui.png) no-repeat 97%;
}
*/
#categories,
#categories ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#categories ul.functions {
  padding: 10px;
  background: #1F242B;
}

#categories .active ul.subcategories {
  border: 1px solid #0066A0;
  border-top: 0;
  background-color: #1F242B;
}

#categories a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  outline: 0;
  display: block;
  padding: 5px;
}

#categories ul.subcategories li a {
  padding: 2px;
  padding-left: 5px;
}

#categories h2 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

#categories .functions a:hover {
  background: #323A46;
}

/*#subcategories dt.active:hover:after,
#categories dt.active:hover:after {
  content: ' (remove filter)';
}
*/
p.cheat {
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
}

h1 {
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: #000;
}

h1 a:hover {
  text-decoration: underline;
}

pre {
  padding: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  overflow: auto;
}

.liveExample a {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #ccc;
}

.liveExample:hover a {
  display: block;
}

.liveExample {
  border: 2px dashed #ccc;
  padding: 10px;  
}

.liveExample:hover {
  border: 2px solid #ccc;
}

#detail iframe {
  border: 0;
  width: 100%;
}

/** Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

h1 .type {
  text-transform: lowercase;
  color: #ccc;
  font-size: 70%;
}

.meta {
  color: #aaa;
  font-size: 80%;
}

.meta a {
  text-decoration: none;
  color: #aaa;
}

.meta a:hover {
  text-decoration: underline;
}

ul.options {
    padding: 0;
}

ul.options > li {
  padding: 10px 0;
  padding-left: 20px;
  list-style-position: inside;
}

/* too many complaints :-( */
/*ul.options:hover > li {
  opacity: 0.3;
}

ul.options:hover > li:hover {
  opacity: 1;
}
*/

.loading {
    color: #fff;
    padding: 0 10px;
}

.external {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#navigation {
    background: #0F67A1 url(/assets/images/bg_secondaryNav_left.gif) no-repeat scroll left top;
    clear: right;
    float: right;
    margin-top: 34px;
}

#navigation ul {
    background: transparent url(/assets/images/bg_secondaryNav_right.gif) no-repeat scroll right top;
    padding: 0 0 0 8px;
    margin: 0;
    float: left;
}

#navigation li {
    border-right:1px solid #0D5995;
    border-left:1px solid #1175AE;
    float:left;
    height:34px;
    list-style: none;
    margin:0;
    padding:0;
}

#navigation li.first {
    border-left: 0;
}

#navigation li.last {
    border-right: 0;
}

#navigation li a,
#navigation li label {
    color:#EEEEEE;
    float:left;
    padding:0 20px;
    position: relative;
    text-decoration:none;
    line-height: 34px;
    cursor: pointer;
}

#navigation li input {
    font-size: 16px;
    margin: 0 0 0 10px;
    width: 100px;
    border: 0;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#navigation .selected,
#navigation a:hover {
/*    text-shadow: 2px 2px 2px #000;*/
}

span.fav {
    display: inline-table;
    height: 16px;
    width: 16px;
    padding: 5px;
    background: url(/assets/images/fav-off.png) no-repeat bottom;
    cursor: pointer;
}

span.fav:hover,
span.fav.on {
    background: url(/assets/images/fav-on.png) no-repeat bottom;
}

body.air pre::selection,
body.air pre span::selection {
  background-color: inherit!important;
}

body.air p::selection,
body.air dt::selection,
body.air h1::selection,
body.air h2::selection,
body.air h3::selection,
body.air li::selection,
body.air a::selection,
body.air span::selection,
body.air div::selection,
body.air strong::selection,
body.air em::selection,
body.air ul::selection,
body.air label::selection,
body.air img::selection {
  background-color: transparent;
}

/*#navigation li label < input:focus {
    text-shadow: 1px 1px 1px #333;
}
*/

body.offline a.edit {
  display: none;
}

#credit {
  position: absolute;
  bottom: 4px;
  font-size: 60%;
  color: #666;
  margin: 0;
  right: 10px;
}

#credit a {
  color: #666;
  padding: 2px;
}

#credit a:hover {
  color: #ccc;
}

#navigation a, #navigation label {
  position: relative;
  outline: 0;
}

#navigation span {
  position: relative;
  top: 0;
  left: 0;
}

#navigation span.jq-shadow {
  display: none;
}

#navigation .selected span {
  color: #fff;
}

#navigation .selected span.jq-shadow {
  color:#131C25;
  display: block;
  position:absolute;
  top:0.1em;
  left: 1.3em;
}