html {
  padding: 0;
  margin: 0;
}

html, body {
  overflow: auto;
}

#body {
  height: auto;
}

#navigation,
#browser,
#header,
#credit {
  display: none;
}

#detail {
  position: static;
  bottom: auto;
  left: auto;
}

pre {
  overflow: visible;
}